altgraph==0.16.1
auto-py-to-exe==2.5.2
bottle==0.12.20
bottle-websocket==0.2.9
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
coverage==4.5.2
Eel==0.10.4
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
macholib==1.11
mock==2.0.0
pbr==5.1.2
pefile==2018.8.8
Pillow==5.4.1
py2exe==0.9.2.2
PyAutoGUI==0.9.41
pycparser==2.19
PyGetWindow==0.0.4
PyInstaller==3.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.19
PyTweening==1.0.3
pywin32-ctypes==0.2.0
requests==2.21.0
six==1.12.0
urllib3==1.24.1
whichcraft==0.5.2

